<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a class="navbar-brand fw-bold" href="#">Mi Nabvar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto align-items-center">
        <li class="nav-item mx-2">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Acerca de</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item ms-3">
          <button class="btn btn-outline-light btn-sm rounded-pill">Login</button>
        </li>
      </ul>
    </div>
  </div>
</nav>